ol{margin:0;padding:0}
hr{height: 1px; border: 0; color: #333; background-color: #333;}
p{margin:0}
.c17{vertical-align:middle;width:13%;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c14{vertical-align:middle;width:13%;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c22{vertical-align:top;width:60%;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c22a{vertical-align:top;width:86%;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c16{
	vertical-align:top;
	width:481.9pt;
	padding:5pt 5pt 5pt 5pt;
	border-left: 1pt solid #000000;
	border-right: 1pt solid #000000;
}
.c18{vertical-align:bottom;width:25%;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c6{vertical-align:middle;width:13%;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c7{vertical-align:top;width:50%;padding:5pt 5pt 5pt 5pt;border: 0px none #000000;
}
.c7a{
	vertical-align:top;
	width:45%;
	padding:5pt 5pt 5pt 5pt;
	border: 1px solid #000000;
}
.c13{vertical-align:top;width:32%;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c28{
	vertical-align:top;
	width:60%;
	padding:5pt 5pt 5pt 5pt;
	border: 0pt none #000000;
}
.c19{vertical-align:top;width:50%;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c24{vertical-align:top;width:90%;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c10{vertical-align:top;width:100%;border-style:solid;border-color:#000000;border-width:1.5pt}
.c27{background-color:#ffffff;}
.c9{line-height:1.15;text-align:center}
.c11{font-size:13pt;font-weight:bold}
.c20{line-height:1.15;padding-bottom:10pt}
.c21{font-size:16pt}
.c5{text-align:right}
.c29{font-style:italic}
.c4{direction:ltr}
.c26{font-size:14pt}
.c15{font-weight:bold}
.c30{text-align:center}
.c1{font-size:8pt}
.c3{height:0pt}
.c25{font-size:18pt}
.c12{background-color:#b7b7b7}
.c2{border-collapse:collapse;width:550pt;}
.c2a{border-collapse:collapse;width:100%;}
.c8{height:12pt}
.c0{
	font-size:11pt
}
.c23{line-height:1.15}
.c0a{font-size: 10pt;}
body{color:#000000;font-size:12pt;font-family:Times New Roman}
h1{padding-top:12pt;line-height:1.0;text-align:left;color:#000000;font-size:16pt;font-family:Arial;font-weight:bold;padding-bottom:3pt}
h2{padding-top:12pt;line-height:1.0;text-align:left;color:#000000;font-style:italic;font-size:14pt;font-family:Arial;font-weight:bold;padding-bottom:3pt}
h3{padding-top:12pt;line-height:1.0;text-align:left;color:#000000;font-size:13pt;font-family:Arial;font-weight:bold;padding-bottom:3pt}
h4{padding-top:12pt;line-height:1.0;text-align:left;color:#000000;font-size:14pt;font-family:Times New Roman;font-weight:bold;padding-bottom:3pt}
h5{padding-top:12pt;line-height:1.0;text-align:left;color:#000000;font-style:italic;font-size:13pt;font-family:Times New Roman;font-weight:bold;padding-bottom:3pt}
h6{padding-top:12pt;line-height:1.0;text-align:left;color:#000000;font-size:11pt;font-family:Times New Roman;font-weight:bold;padding-bottom:3pt}
